a {
	color: black;
}
.nav  {
	background-color: #c9c9c9;
	flex-direction: row;

}

.logo {
  border-radius: 10px;
  background-color: #c9c9c9;
  width: 300px;
  height: 150px;
  margin: 35px;
}

/* ??? */
.number {
	display: inline-flex;
	justify-content: flex-end;  
	margin: 35px;
}	
.shopping-cart {
	background-color: #f1f1f1;
	margin-left: 45px;
}
.second-nav{
	background-color: #f1f1f1;
}
.flex-column{
	background-color: #f1f1f1;
}